.App {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #eaeaeb;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Titillium Web';
}

.AppContainer {
  width : 94%;
  max-width: 1000px;
  position : relative;
  margin : 0 auto;  
}

.AppNav {
  width: 100%;
  background-color: #222;
}

.AppSectionLabel {
  font-size: 36px;
  margin-top: 60px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.AppSquareButton { 
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #444;
}

.AppBackButton {
  font-size: 15px;
  float: left;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 70px;
  line-height: 40px;
  color: #fff;
}

.AppSquareButton img {
  padding-top: 12px;
}

.AppSquareButton:hover { 
  background-color: #333;
}

.AppSquareButton:active { 
  background-color: #2a2a2a;
}

.AppNavContainer {
  padding: 10px;
}


