#RegisterFormModal {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 10000;
  background: rgba(0,0,0,0.7);
  display: none;
  font-family : 'Titillium Web';
}

#RegisterContainer {
   margin: 100px auto 0px auto;
   width: 640px;
   background-color: #eee;
}

#RegisterContent {
   padding: 40px;
}

#RegisterFormPrototypeLive {
  font-size : 24px;
  line-height : 140%;
  color : #222;
  float: left;
}

#RegisterFormDomain {
  width : 250px;
  font-size : 24px;
  line-height : 140%;
  color : #1a86d6;
  text-decoration: none;
  float: left;
  margin-left: 10px;
}

#RegisterFormEmail {
  height : 50px;
  width : 424px;
  padding : 0px;
  font-size : 14px;
  text-indent : 10px;
  color : #555;
  border : 1px solid #ccc;
  -webkit-appearance : normal;
  float: left;
  margin-top: 20px;
}
#RegisterFormButton {
  background-color : #1a86d6;
  height : 50px;
  width : 80px;
  cursor : pointer;
  font-size : 18px;
  line-height : 50px;
  text-align : center;
  padding : 0px 15px;
  color : #fff;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
#RegisterFormButton:hover {
  background-color : #3575b5;
}
#RegisterFormButton:active {
  background-color : #2c659e;
}
#RegisterFormInstructions {
  font-size : 18px;
  line-height : 140%;
  color : rgb(119, 119, 119);
  margin-top: 20px;
}
#RegisterFormSkip {
  font-size : 14px;
  line-height : 140%;
  color : #1a86d6;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 400;
}

#RegisterFormSkip:hover {
     text-decoration: underline;
}

#RegisterFormDomain:hover {
  text-decoration: underline;
}
