.Tool {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #eaeaeb;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Titillium Web';
}

.ToolContainer {
  width : 94%;
  max-width: 1000px;
  position : relative;
  margin : 0 auto;
  padding-bottom: 100px;
}

.ToolNav {
  width: 100%;
  background-color: #222;
}

.ToolSectionLabel {
  font-size: 36px;
  margin-top: 60px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.ToolSquareButton { 
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #444;
}

.ToolBackButton {
  font-size: 15px;
  float: left;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 70px;
  line-height: 40px;
  color: #fff;
}

.ToolRightButton {
  background-color: #333;
  height: 40px;
  margin-left: 10px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.ToolRightButton:hover {
  background-color: #000;
}

.ToolSquareButton img {
  padding-top: 12px;
}

.ToolSquareButton:hover { 
  background-color: #333;
}

.ToolSquareButton:active { 
  background-color: #2a2a2a;
}

.ToolNavContainer {
  padding: 10px;
}

.ToolPrimaryButton {
  background-color: #1a86d6;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}

.ToolInput {
  width: 300px;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.ToolInputLabel {
  font-size: 18px;
  margin-top: 20px;
}

