.LaunchColumn {
  width: 32%;
  float: left;
}

.LaunchMargin {
  margin-right: 2%;
}

.LaunchSquare {
  cursor : pointer;
  font-weight : 300;
  margin-top: 20px;
  color: #fff;
}

.LaunchTopBlock {
  padding: 80px 20px;
  font-size: 3.375em;
}

.LaunchSubBlock {
  font-size: 0.875em;
  background: rgba(0,0,0,.2);
  padding: 20px;
  font-weight: 400;
}

