#nudgepadConnectionStatus {
  right: 10px;
  top: 10px;
  max-width: 500px;
  width: 100%;
  height: 20px;
  font-size: 16px;
  color: #888888;
  position: fixed;
  z-index: 4001;
  text-align: right;
}
