#nudgepadDimensions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  line-height: 130%;
  font-size: 12px;
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 6px 10px 6px 10px;
  z-index: 200;
}
