/******* Text Prompt ******/

#nudgepadEditorTextarea {
  padding : 3px;
  font-family : monospace;
  font-size : 16px;
  outline : 0;
  top : 50px;
  bottom : 150px;
  position : fixed;
  left : 50px;
  right : 50px;
  z-index : 1010;
  background-color : rgba(255,255,255,0.9);
  box-shadow : 0px 1px 3px rgba(0,0,0,.5);
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
}

#nudgepadEditorModalScreen {
  width : 100%;
  height : 100%;
  top : 0;
  position : fixed;
  left : 0;
  z-index : 1009;
  background : rgba(0,0,0,.3);
}

#nudgepadEditorCancelButton, #nudgepadEditorSaveButton {
  width : 90px;
  height : 40px;
  bottom : 90px;
  right : 180px;
  line-height : 40px;
  border-radius : 4px;
  font-weight : bold;
  color: #FFF;
  text-align : center;
  font-size : 20px;
  position : fixed;
  z-index : 1010;
  background : #4a4a4a;
  cursor: pointer;
}

#nudgepadEditorSaveButton {
  right : 70px;
  background : #3d86d1;
}

#nudgepadEditorSaveButton:hover{
  background-color: #3579bd;
}

#nudgepadEditorSaveButton:active{
    background-color: #2c66a1;
}

#nudgepadEditorCancelButton:hover{
    background-color: #444;
}

#nudgepadEditorCancelButton:active{
     background-color: #222;
}

#nudgepadEditorButtonContainer {
  height : 80px;
  bottom : 70px;
  right : 50px;
  left : 50px;
  position : fixed;
  z-index : 1009;
  background : #ECECEB;
  box-shadow : 0px 1px 3px rgba(0,0,0,.5);
}




