#nudgepadError, #nudgepadJavascriptError, #nudgepadWorkerError  {
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  background-color: #e79602;
  color: white;
  position: fixed;
  overflow: hidden;
  display: none;
  z-index: 4001;
}

#nudgepadJavascriptError {
  z-index: 4099;
  overflow-y: scroll;
  font-size: 12px;
}

#nudgepadWorkerError {
  z-index: 2000;
}
