#nudgepadRibbon {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #333;
  bottom: 50px;
  z-index: 501;
  display: none;
}

#nudgepadRibbon .nudgepad {
  position: absolute;
}

/*-----Code for the image app. Use the best tool for the job :) ---*/
.nudgepad#image_list div{
  height: 60px;
  border: 1px solid #bebfbb;
  background-color: #d3d4d0;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
  text-align: center;
  line-height: 60px;
  width: 60px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
 }
.nudgepad#image_list div img{
 max-width: 40px;
 max-height: 40px;
 vertical-align: middle;
}

#nudgepadRibbon #droppablesList {
  float: left;
}

#nudgepadRibbon #droppablesList .droppableImg {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.imageDroppableOptions {
      display: none;
}

#ribbonUploadButton {
   float: left;
   width: 70px;
   background-color: #555;
   font-size: 14px;
   height: 40px;
   line-height: 40px;
   color: #fff;
   margin-left: 10px;
   margin-top: 20px;
   text-align: center;
   cursor: pointer;
   font-weight: 400;
   overflow: hidden;
   position: relative;
}

#ribbonUploadButton:hover {
   background-color: #444;
}

#ribbonUploadButton:active {
   background-color: #3a3a3a;
}

#imageDroppablesList {
   float: left;
}

.imageThumbDrop {
   float: left;
   height: 60px;
   width: 60px;
   margin-left: 10px;
   text-align: center;
   background-color: #2a2a2a;
   margin-top: 10px;
   display: inline-block;
   line-height: 60px;
   padding: 0;
}

.imageThumbDrop img {
   padding: 0;
  max-height: 50px;
  max-width: 50px;
  vertical-align: middle;
  line-height: 60px;
}
