/** Todo: put these under #nudgepadStage namespace? **/
.scrap {
  z-index: 1;
  word-wrap: break-word;
}


.scrap:hover:not(.lockedScrap), .selection {
  box-shadow: 0 0 1px #777;
}


.lockedScrap {
  cursor: not-allowed;
}

.scrap:focus {
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
  -ms-user-select: text;
  outline: 1px solid #5555ff;
}

.contentEditable:focus {
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
  -ms-user-select: text;
  outline: 1px solid #5555ff;
}

.selection.nudgepadHighlightedScrap {
  outline: 2px solid blue;
  box-shadow: 1px 1px 8px 8px blue;
  z-index: 100;
}
