#nudgepadStage {
  position: relative;
  height: 637px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* this makes the background scroll with the content */
  background-attachment: local;
}

#nudgepadStageFullView {
  width: 100%;
}

#nudgepadStageBody {
  min-height: 1000px;
  position: relative;
}

#nudgepadStageBottomPadding {
  height: 60px;
}


.nudgepadStageEdgeView {
  background-color: rgb(233, 233, 233);
  padding: 5%;
  width: 90%;
}

.nudgepadStageBodyEdgeView {
  margin: 0 auto;
  background: white;
  box-shadow: 1px 1px 5px black;
}

