#nudgepadStage {
  position: relative;
  width: 100%;
  height: 637px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* this makes the background scroll with the content */
  background-attachment: local;
}

#nudgepadStageBody {
  min-height: 1000px;
}

#nudgepadStageBottomPadding {
  height: 60px;
}


.nudgepadStageEdgeView {
  background-color: rgb(233, 233, 233);
  padding: 10px;
}

.nudgepadStageBodyEdgeView {
  margin: 0 auto;
  background: white;
  box-shadow: 1px 1px 5px black;
  width: 80%;
}

