#AppMakerManifestUrlLink {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: text;
  cursor: pointer;
}

#AppMakerManifestUrlLink, #AppMakerManifestUrlLink:hover {
  background: transparent;
}

#AppMakerFrame {
  background-image: url(/nudgepad/tools/appmaker/phoneFrame.png);
  width: 362px;
  height: 671px;
  margin: 40px auto;
  position: relative;
}

#AppMakerStage {
  background: white;
  width: 320px;
  height: 480px;
  position: absolute;
  left: 21px;
  top: 47px;
  overflow: hidden;
}

.DraggableThumb {
  background: white;
  display: inline-block;
  height: 40px;
  margin-left: 20px;
  line-height: 40px;
  padding: 0 10px;
  z-index: 1000;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  cursor: pointer;
}

.DraggableElement {
  display: none;
}

.ui-selected {
  box-shadow: inset 5px 0px 0px blue;
}

