#AppMakerManifestUrlLink {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: text;
  cursor: pointer;
}

#AppMakerManifestUrlLink, #AppMakerManifestUrlLink:hover {
  background: transparent;
}

#AppMakerStage {
  background-image: url(/nudgepad/tools/appmaker/phoneFrame.png);
  width: 362px;
  height: 671px;
  margin: 40px auto;
}

