.DevelopButton {
  background-color: #333;
  height: 40px;
  margin-left: 10px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.DevelopButton:hover {
  background-color: #000;
}

#DevelopToggle {
  margin-top: 40px;
}

.DevelopToggleOption {
  float: left;
  width: 80px;
  text-align: center;
  background-color: #f8f8f8;
  height: 40px;
  line-height: 40px;
}

.DevelopSelect {
  background-color: #555;
  color: #fff;
}

#DevelopExplorerHolder {
  cursor: pointer;
}

#DevelopExplorerPath {
  font-size : 15px;
  color : #333;
  text-align : left;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.DevelopExplorerHeader {
  font-size : 24px;
}

.DevelopExplorerEdit {
  color: #555;
  height: 40px;
  line-height: 40px;
  background-image: url(/nudgepad/public/images/document.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.DevelopExplorerFolderName {
  height: 40px;
  line-height: 40px;
  color: #1a86d6;
  background-image: url(/nudgepad/public/images/folder2.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.DevelopToggleOption {
  cursor: pointer;
}

#DevelopLogHolder {
  border: none;
  font-size: 15px;
}

#DevelopInfoContent {
  display: none;
}

#DevelopLogsContent {
  display: none;
}

.DevelopSelectable {
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
}


#DevelopExplorer {
  border-collapse: collapse;
}

#DevelopExplorer tr td {
  width: 300px;
}
   
.DevelopExplorerFolderName {
  width: 300px;
}

.DevelopExplorerRename, .DevelopExplorerRemove {
  color: #eee;
}

#DevelopExplorer tr td.DevelopExplorerEdit:hover,
#DevelopExplorer tr td.DevelopExplorerFolderName:hover,
#DevelopExplorer tr td.DevelopExplorerRename:hover,
#DevelopExplorer tr td.DevelopExplorerRemove:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1a86d6;
}

#DevelopExplorer tr:hover td.DevelopExplorerRename, #DevelopExplorer tr:hover td.DevelopExplorerRemove {
  color: #1a86d6;
}

#DevelopExplorer tr th {
  color: #888888;
}

#DevelopExplorer tr.DevelopExplorerHeader {
  border-bottom: 3px solid #555;
}

#DevelopExplorer tr.DevelopExplorerFolder {
  border-bottom: 1px solid #ccc;
}

#DevelopExplorer tr.DevelopExplorerFile {
  border-bottom: 1px solid #ccc;
}

#DevelopConsole {
  padding : 3px;
  font-family : monospace;
  font-size : 16px;
  outline : 0;
  top : 50px;
  bottom : 150px;
  position : fixed;
  left : 50px;
  right : 50px;
  z-index : 1010;
  background-color : rgba(255,255,255,0.9);
  box-shadow : 0px 1px 3px rgba(0,0,0,.5);
}

#DevelopConsole {
  overflow-y: scroll;
}

#DevelopConsoleCheckbox {
  left : 675px;
  bottom : 101px;
  position : fixed;
  z-index : 1010;
  line-height: 40px;
}

#DevelopConsoleLabel {
  left : 700px;
  height : 40px;
  bottom : 90px;
  line-height : 40px;
  font-size : 20px;
  position : fixed;
  z-index : 1010;
}

#DevelopConsoleInput {
  width : 560px;
  height : 40px;
  bottom : 90px;
  left : 90px;
  line-height : 40px;
  font-size : 20px;
  position : fixed;
  border: 1px solid #ddd;
  z-index : 1010;
}

.DevelopSectionLabel {
  font-size: 36px;
  margin-top: 60px;
  border-bottom: 3px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

