#FilesExplorerHolder {
  cursor: pointer;
}

#FilesExplorerPath {
  font-size : 15px;
  color : #333;
  text-align : left;
  cursor: pointer;
}

#FilesExplorerPath span:hover {
  color: #1a86d6;
}

.FilesExplorerHeader {
  font-size : 24px;
}

.FilesExplorerEdit, .FilesExplorerPreview {
  color: #555;
  height: 40px;
  line-height: 40px;
  background-image: url(/nudgepad/public/images/document.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.FilesExplorerFolderName {
  height: 40px;
  line-height: 40px;
  color: #1a86d6;
  background-image: url(/nudgepad/public/images/folder2.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

#FilesExplorer {
  border-collapse: collapse;
}

#FilesExplorer tr td {
  width: 300px;
}
   
.FilesExplorerFolderName {
  width: 300px;
}

.FilesHiddenAction, .FilesHiddenAction a {
  color: #eee;
  text-decoration: none;
}

#FilesExplorer tr td.FilesExplorerEdit:hover,
#FilesExplorer tr td.FilesExplorerFolderName:hover,
#FilesExplorer tr td.FilesHiddenAction:hover,
#FilesExplorer tr td.FilesHiddenAction:hover a {
  text-decoration: underline;
  cursor: pointer;
  color: #1a86d6;
}

#FilesExplorer tr:hover td.FilesHiddenAction,
#FilesExplorer tr:hover td.FilesHiddenAction a{
  color: #1a86d6;
}

#FilesExplorer tr th {
  color: #888888;
}

#FilesExplorer tr.FilesExplorerHeader {
  border-bottom: 3px solid #555;
}

#FilesExplorer tr.FilesExplorerFolder {
  border-bottom: 1px solid #ccc;
}

#FilesExplorer tr.FilesExplorerFile {
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

#FilesNew {
  color: #555;
  text-align: right;
}

#FilesNew a {
  cursor: pointer;
}

#FilesNew a:hover {
  text-decoration: underline;
}

#FilesHeader {
  margin-top: 40px;
  margin-bottom: 20px;
  
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center; -moz-box-align: center; /* OLD… */
  -ms-flex-align: center; /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;
  
  -webkit-box-pack: center; -moz-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center;
  justify-content: center;
}

#FilesHeader > div {
  width: 50%;
}
