.nudgepadFullScreenApp .developAppButton {
   background-color: #333;
   height: 40px;
   margin-left: 10px;
   width: 100px;
   text-decoration: none;
   text-align: center;
   float: right;
   line-height: 40px;
   color: #fff;
   font-size: 15px;
   cursor: pointer;
}

.nudgepadFullScreenApp .developAppButton:hover {
  background-color: #000;
}

.nudgepadFullScreenApp #devToggle {
   margin-top: 40px;
}

.nudgepadFullScreenApp .devToggleOption {
   float: left;
   width: 80px;
   text-align: center;
   background-color: #f8f8f8;
   height: 40px;
   line-height: 40px;
}

.nudgepadFullScreenApp .devSelect {
   background-color: #555;
   color: #fff;
}

.nudgepadFullScreenApp #explorerHolder {
   cursor: pointer;
}

.nudgepadFullScreenApp #explorerPath {
  font-size : 15px;
  color : #333;
  text-align : left;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.nudgepadFullScreenApp .explorerHeader {
  font-size : 24px;
}

.explorerEdit {
  color: #555;
  height: 40px;
  line-height: 40px;
  background-image: url(/nudgepad/public/images/document.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.explorerFolderName {
  height: 40px;
  line-height: 40px;
  color: #1a86d6;
  background-image: url(/nudgepad/public/images/folder2.png);
  text-indent: 25px;
  background-position: left center;
  background-repeat: no-repeat;
}

.devToggleOption {
   cursor: pointer;
}

#logHolder {
   border: none;
   font-size: 15px;
}

#infoContent {
   display: none;
}

#logsContent {
   display: none;
}

.nudgepad.selectable {
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
}


table {
    border-collapse: collapse;
}

td {
   width: 300px;
   
.explorerFolderName {
      width: 300px;
}

}

#nudgepadExplorer .file {
  
}

.explorerRename, .explorerRemove {
  color: #eee;
}

#nudgepadExplorer tr td.explorerEdit:hover,
#nudgepadExplorer tr td.explorerFolderName:hover,
#nudgepadExplorer tr td.explorerRename:hover,
#nudgepadExplorer tr td.explorerRemove:hover,
#nudgepadExplorer tr td.explorerCreate:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1a86d6;
}

#nudgepadExplorer tr:hover td.explorerRename, #nudgepadExplorer tr:hover td.explorerRemove {
  color: #1a86d6;
}

#nudgepadExplorer tr th {
  color: #888888;
}

#nudgepadExplorer tr.explorerHeader {
  border-bottom: 3px solid #555;
}

#nudgepadExplorer tr.explorerFolder {
  border-bottom: 1px solid #ccc;
}

#nudgepadExplorer tr.explorerFile {
  border-bottom: 1px solid #ccc;
}