.HomeSquare {
  cursor : pointer;
  font-weight : 300;
  margin-top: 20px;
  color: #fff;
  width: 31%;
  min-width: 300px;
  float: left;
  margin-right: 20px;
}

.HomeSquare.beta {
  display: none;
}

.HomeTopBlock {
  padding: 80px 20px;
  font-size: 3.375em;
}

.HomeSubBlock {
  font-size: 0.875em;
  background: rgba(0,0,0,.2);
  padding: 20px;
  font-weight: 400;
}

