/* we do this purely to force hardware acceleration to get around the flicker
http://davidwalsh.name/translate3d
.nudgepad {
  -webkit-font-smoothing: antialiased;
}
#nudgepadPublishButton {
  -webkit-transform: translate3d(0, 0, 0);
}

*/
