#nudgepadCodePanel {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  padding : 3px;
  font-family : monospace;
  font-size : 14px;
  outline : 0;
  width: 40%;
  bottom: 49px;
  margin: 0;
  background-color : #1e1e1e;
  color: #b1b1b1;
  border: 0;
  display: none;
  -webkit-user-select: auto;
  -moz-user-select: text;
  user-select: auto;
}

