.nudgepadEditHandle {
  height: 16px;
  position: absolute;
  z-index: 200;
}

.nudgepadEditStyleHandle, .nudgepadLinkHandle {
  background-image : url(/nudgepad/images/pencil_lt.png);
  background-size: 14px;
  background-position : center;
  background-repeat : no-repeat;
  background-color: #000;
  height : 30px;
  width : 30px;
  position: relative;
  cursor: pointer;
  float: left;
}



