#DesignStyleEditor {
  position: absolute;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  z-index : 500;
  box-shadow : 0px 1px 3px rgba(0,0,0,.4);
  background-color: #333;
}

.fontColorButton {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  border-radius: 3px;
}

.fontColorButton img {
  padding-top: 4px;
  opacity: .6;
}

.borderColorButton{
  width: 34px;
  height: 34px;
  margin-right: 1px;
  border-radius: 3px 0px 0px 3px;
}

.backgroundColorButton {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.borderColorLine {
  height: 5px;
  top: 15px;
  left: 7px;
}

.fontColorLine {
  height: 5px;
  top: 25px;
  left: 7px;
}

#DesignStyleEditor #blockContainer {
  padding: 10px;
  width: 290px;
}

#DesignStyleEditor .editorButton {
  float: left;
  height: 40px;
  width: 40px;
  background-color: #4A4A4A;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
}

#DesignStyleEditor .editorButton img{
  padding-top: 12px;
  opacity: .6;
}

#DesignStyleEditor .editorButton:hover{
  background-color: #555;
}

#DesignStyleEditor .editorButton:active{
  background-color: #323232;
}

#DesignStyleEditor .editorOption{
  cursor: pointer;
  margin: 0px 10px;
  display : inline-block;
  color: #888;
  line-height: 40px;
  font-size: 14px;
  float: left;
}

#DesignStyleEditor .selectedEditorOption{
  color: #FFF;
}

#DesignStyleEditor textarea {
  resize: none;
}

#DesignStyleEditorModal {
  width : 100%;
  height : 100%;
  top : 0;
  position : fixed;
  left : 0;
  z-index : 499;
  background: transparent;
}

#DesignStyleEditorCssEditor {
  position: relative;
  padding : 6px 3px;
  font-family : monospace;
  display: none;
  width: 100%;
  font-size : 15px;
  outline : 0;
  height: 250px;
  background-color : #444;
  border: none;
  outline: none;
  min-width: 310px;
  color: #CCC;
}

#DesignStyleEditorTextEditor{
  display: none;
  padding: 10px;
}

.blankContainer {
  position: relative;
  padding : 0px 10px;
  width: 265px;
  font-size : 13px;
  height: 250px;
  background-color : #333;
}

#DesignStyleEditor .editorHeader{
  color: #888;
  font-size: 13px;
  margin-bottom: 5px;
  padding-top: 15px;
}

#DesignStyleEditor .columnLeft{
  width: 140px;
  float: left;
  margin-right: 10px;
}

#DesignStyleEditor .clear{
  clear: both;
}

#DesignStyleEditor .columnRight{
  float: left;
  width: 140px;
}

#DesignStyleEditor .toolButton {
  height: 34px;
  font-size: 13px;
  line-height: 34px;
  color: #CCC;
  text-align: center;
  width: 34px;
  background-color: #4A4A4A;
  cursor: pointer;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1px;
}

#DesignStyleEditor .toolButton img {
  opacity: .6;
  padding-top: 9px;
}

#DesignStyleEditor .toolButton:hover {
  background-color: #555;
}

#DesignStyleEditor .toolButton:active {
  background-color: #323232;
}

#DesignStyleEditor .toolButtonOne{
  border-radius: 3px 0px 0px 3px;
}

#DesignStyleEditor .toolButtonTwo{
}

#DesignStyleEditor .toolButtonThree{
  border-radius: 0px 3px 3px 0px;
}

#DesignStyleEditor #alignmentOne{
  background-image : url(/nudgepad/public/images/left_lt.png);
}

#DesignStyleEditor #alignmentTwo{
  background-image : url(/nudgepad/public/images/center_lt.png);
}

#DesignStyleEditor #alignmentThree{
  background-image : url(/nudgepad/public/images/right_lt.png);
}

#DesignStyleEditor #fontFamily {
  width: 140px;
  overflow: hidden;
  text-align: left;
  text-indent: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px;
  font-size: 13px;
  border-radius: 3px;
  margin-right: 10px;
  border: none;
  background-image: url(/nudgepad/public/images/drop_trans.png);
  background-position: 120px center;
}

#fontSize{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  border: none;
  padding: none;
  text-indent: 8px;
  background-color: #4a4a4a;
  color: #CCC;
  float: left;
  width: 34px;
  height: 34px;
  font-size: 13px;
  line-height: 34px;
  cursor: pointer;
  margin-right: 10px;
}

#resize {
  border-radius: 3px;
}

#DesignStyleEditor #fontFamilyOne{
  font-family: 'Arial';
}

#DesignStyleEditor #fontFamilyTwo{
  font-family: 'Georgia';
}

#DesignStyleEditor #fontFamilyThree{
  font-family: 'Times';
}

#DesignStyleEditor #fontColorOne{
  color: #333;
}

#DesignStyleEditor #fontColorTwo{
  color: #888;
}

#DesignStyleEditor #fontColorThree{
  color: #fff;
  background-color: #555;
}

#DesignStyleEditor #textStyleTwo{
  text-decoration: underline;
}

#DesignStyleEditor .transparentButton{
  background-image : url(/nudgepad/public/images/invisible.png);
  background-position: center;
  background-repeat: no-repeat;
}

#DesignStyleEditorTopBar {
  height : 40px;
  background-color: #2a2a2a;
  position : relative;
  border-bottom: 1px solid #444;
}


#DesignStyleEditorBottomBar {
  height : 40px;
  position : relative;
  background : #777;
  
}

#DesignStyleEditorSaveButton {
  width : 60px;
  height : 40px;
  float: right;
  line-height : 40px;
  color: #FFF;
  text-align : center;
  text-transform: uppercase;
  font-size : 14px;
  position : relative;
  z-index : 1010;
  background : #4a4a4a;
  cursor: pointer;
}

#DesignStyleEditorSaveButton {
  background-color: #11a4ed;
}

#DesignStyleEditorSaveButton:hover{
  background-color: #0c8ecf;
}

#DesignStyleEditorSaveButton:active{
    background-color: #055780;
}

#DesignStyleEditorMoveUp:hover, #DesignStyleEditorMoveDown:hover, #DesignStyleEditorLock:hover, #DesignStyleEditorLink:hover{
  opacity: .7;
}

#DesignStyleEditorMoveUp:active, #DesignStyleEditorMoveDown:active, #DesignStyleEditorLock:active, #DesignStyleEditorLink:active{
  opacity: 1;
}
