
#ServerLogHolder {
  border: none;
  font-size: 15px;
}

#ServerConsole {
  overflow-y: scroll;
}

#ServerConsoleContainer {
  display: none;
}


#ServerConsoleCheckbox {
  line-height: 40px;
  margin-top: 20px;
}

#ServerConsoleLabel {
  height : 40px;
  line-height : 40px;
  font-size : 20px;
  margin-top: 20px;
}

#ServerConsoleInput {
  margin-top: 20px;
  margin-left: 20px;
  height : 40px;
  line-height : 40px;
  font-size : 20px;
  min-width: 400px;
  border: 1px solid #ddd;
}
