#ManageEmail {
  width: 300px;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#ManageFormLabel {
  font-size: 18px;
  margin-top: 20px;
}

#ManageLogoutButton {
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  width: 100px;
  float: right;
  margin-left: 10px;
}

#ManageUpdateButton {
  background-color: #1a86d6;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}
