html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, input, textarea, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit; 
  font-size: 100%;
  vertical-align: baseline;
}
@font-face {
  font-family: 'ProximaNovaRgRegular';
  src: url('/nudgepad/public/fonts/ProximaNova-Reg-webfont.eot');
  src: url('/nudgepad/public/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/nudgepad/public/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
       url('/nudgepad/public/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
       url('/nudgepad/public/fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRgRegular';
  src: url('/nudgepad/public/fonts/ProximaNova-Bold-webfont.eot');
  src: url('/nudgepad/public/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/nudgepad/public/fonts/ProximaNova-Bold-webfont.woff') format('woff'),
       url('/nudgepad/public/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
       url('/nudgepad/public/fonts/ProximaNova-Bold-webfont.svg#ProximaNovaRgRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}
input, textarea {
  padding: 5px;
}
html {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0, 0, 0);
}
.scrap {
  position: absolute;
  z-index: 1;
}
