.nudgepadFullScreenApp .appNav {
   width: 100%;
   background-color: #222;
}

.nudgepadFullScreenApp .appNavContainer {
   padding: 10px;
}

.nudgepadFullScreenApp .squareButton { 
   width: 40px;
   height: 40px;
   text-align: center;
   cursor: pointer;
   background-color: #444;
}

.nudgepadFullScreenApp .squareButton:hover { 
  background-color: #333;
}

.nudgepadFullScreenApp .squareButton:active { 
  background-color: #2a2a2a;
}

.nudgepadFullScreenApp #logout {
   line-height: 40px;
   color: #fff;
   text-decoration: none;
   width: 100px;
   float: right;
   margin-left: 10px;
}

.nudgepadFullScreenApp .squareButton img {
   padding-top: 12px;
}

.nudgepadFullScreenApp #menuBack {
   font-size: 15px;
   float: left;
   background-repeat: no-repeat;
   background-position: 10px center;
   width: 70px;
   line-height: 40px;
   color: #fff;
}

.nudgepadFullScreenApp .secondaryButton {
   background-color: #64b81f;
   height: 40px;
   width: 100px;
   text-align: center;
   float: right;
   line-height: 40px;
   color: #fff;
   font-size: 15px;
   cursor: pointer;
   text-decoration: none;
}

.nudgepadFullScreenApp .secondaryButton:hover { 
  background-color: #529919;
}

.nudgepadFullScreenApp .secondaryButton:active { 
  background-color: #427a14;
}

.nudgepadFullScreenAppBody .sectionLabel {
   font-size: 36px;
   margin-top: 60px;
   border-bottom: 3px solid #ccc;
   padding-bottom: 5px;
   margin-bottom: 20px;
}

.nudgepadFullScreenAppBody .formLabel {
   font-size: 18px;
   margin-top: 20px;
}

.nudgepadFullScreenAppBody #email {
  width: 300px;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.nudgepadFullScreenAppBody #updateButton {
  background-color: #1a86d6;
  height: 40px;
  width: 100px;
  color: #fff;
  font-size : 15px;
  margin-top: 10px;
  text-align: center;
  cursor : pointer;
  line-height: 40px;
}

.nudgepadFullScreenAppBody .plan {
   margin-top: 20px;
   font-size: 18px;
}

.nudgepadFullScreenAppBody .plan a {
   text-decoration: none;
}

.nudgepadFullScreenAppBody .planDescription {
   color: #666;
}

.nudgepadFullScreenAppBody .selectedPlan {
   background-image: url(/nudgepad/public/images/checkbox.png);
   background-repeat: no-repeat;
   text-indent: 30px;
}

.nudgepadFullScreenAppBody .unselectedPlan {
   background-image: url(/nudgepad/public/images/unchecked.png);
   background-repeat: no-repeat;
   text-indent: 30px;
   text-decoration: none;
}